<style>
  .background {
    background: #F0F6F9;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .message-content {
    background: #FFFFFF;
    border-radius: 6px;

    margin-top: 40px;
    margin-right: 20px;
    margin-left: 20px;
    margin-bottom: 60px;

    padding-top: 30px;
    padding-right: 25px;
    padding-left: 25px;
    padding-bottom: 60px;

    font-family: : 'Nunito Sans', Helvetica, sans-serif;
    max-width: 600px;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 23px;

    letter-spacing: 0.192941px;

    color: #3C4759;
  }

  .image-wrapper {
    width: auto;
    display: flex;
    justify-content: center;
  }

  img {
    width: 120px;
    margin-bottom: 40px;
    margin-top: 20px;
  }
  p {
    margin-bottom: 18px;
  }

  .button {
    background: #4D49C4;
    border-radius: 6px;
    width: 296px;
    height: 56px;
    display: flex;
    align-items: center;
    justify-content: center;
    text-decoration: none;
  }

  .button:hover {
    opacity: 0.9;
  }

  .button-text {
    font-style: normal;
    font-weight: bold;
    font-size: 18px;
    line-height: 32px;

    text-align: center;
    letter-spacing: 0.192941px;

    color: #FFFFFF;
  }

</style>

<div class="background">
  <div class="message-content">
    <div class="image-wrapper">
      <img src="https://app-heali.s3.amazonaws.com/heali_mail.png" alt="logo">
    </div>
    <p>Olá, {{name}}</p>
    <p>Parece que uma troca de senha para sua conta foi solicitada.</p>
    <p>Se foi você, então clique no link abaixo para escolher uma nova senha:</p>
    <p>
    <a class="button" href="{{link}}">
      <span class="button-text">Redefinir minha senha</span>
    </a>
    </p>
    <p>Se não foi você, então desconsidere este e-mail.</p>
    <p>
      Obrigado!<br />
      <strong>Equipe Heali</strong>
    </p>
  </div>
</div>
