<style>
  .message-content {
    font-family: : Arial, Helvetica, sans-serif;
    max-width: 600px;
    font-size: 18px;
    line-height: 21px
  }
</style>

<div class="message-content">
  <p>Olá, {{name}}!</p>
  <p>Bem-vindo(a) à Heali! Você foi cadastrado(a) com sucesso.</p>
  <p>A partir de agora, você poderá ter acesso a pesquisar milhares de exames médicos em centenas de laboratórios. E esse número está crescendo cada vez mais a cada dia...</p>
  <p>Conte com a gente para cuidar melhor da sua saúde.</p>
  <p>
    Obrigado!<br />
    <strong>Equipe Heali</strong>
  </p>
</div>
