<div style="background: #F0F6F9; display: flex; align-items: center; justify-content: center;">
  <div style="background: #FFFFFF; border-radius: 6px; margin-top: 40px; margin-right: 20px; margin-left: 20px; margin-bottom: 60px; padding-top: 30px; padding-right: 25px; padding-left: 25px; padding-bottom: 60px; font-family: : 'Nunito Sans', Helvetica, sans-serif; max-width: 600px; font-style: normal; font-weight: normal; font-size: 16px; line-height: 23px; letter-spacing: 0.192941px; color: #3C4759;">
    <div style="width: auto; display: flex; justify-content: center;">
      <img src="https://app-heali.s3.amazonaws.com/heali_mail.png" alt="logo" style="width: 120px; margin-bottom: 40px; margin-top: 20px;">
    </div>
    <p style="margin-bottom: 18px">Olá, {{name}}!</p>
    <p style="margin-bottom: 18px">Bem-vindo(a) à Heali! Você foi cadastrado(a) com sucesso.</p>
    <p style="margin-bottom: 18px">A partir de agora, você poderá ter acesso a pesquisar milhares de exames médicos em centenas de laboratórios. E esse número está crescendo cada vez mais todos os dias...</p>
    <p style="margin-bottom: 18px">Conte com a gente para cuidar melhor da sua saúde.</p>
    <p style="margin-bottom: 18px">
      Obrigado!<br />
      <strong>Equipe Heali</strong>
    </p>
  </div>
</div>
